@page "/applicationform"
@using ProgramCRUD.Data
@using ProgramCRUD.Model
@inject ProgramService proService
@inject NavigationManager NavManager


<div class="card p-4">
    <h4 class="card-title">Application Form</h4>
    <hr />

    <div class="card" style="width: 40%">
        <div class="card-body" style="padding:0">
            <h5 class="card-title" style="margin: 0;padding: 10px;background-color: #d0f8fa;border-top-right-radius: 5px;border-top-left-radius: 5px;">Personal Information</h5>
            <div class="container p-2 border-bottom">
                <div class="image-container" style="background-image: url('your-default-image.jpg');">
                    <input type="file" class="image-input" />
                    <div class="image-text">
                        <i class="bi bi-upload fs-4 bold icon"></i>
                        <span>Upload Cover Image</span>
                        <span class="image-info">16:9 ratio is recommended. Max image size 1mb</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div card="card" style="width:40%">
        <div class="card-body" style="padding:0">
            <h5 class="card-title" style="margin: 0;padding: 10px;background-color: #d0f8fa;border-top-right-radius: 5px;border-top-left-radius: 5px;">Personal Information</h5>
            <div class="container p-2 border-bottom">
               
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>First Name</b>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="container p-2 border-bottom">
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>Last Name</b>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="container p-2 border-bottom">
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>Email</b>
                    </div>
                    <div class="row">
                        <input type="email" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="container p-2 border-bottom">
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>Nationality</b>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label" for="check2">Mandatory</label>
                                <input type="checkbox" class="form-check-input " id="check2" style="cursor: pointer;">

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-2 border-bottom">
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>Current Residence</b>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label" for="check3">Mandatory</label>
                                <input type="checkbox" class="form-check-input " id="check3" style="cursor: pointer;">

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="container p-2 border-bottom">
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>Id Number</b>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label" for="check3">Mandatory</label>
                                <input type="checkbox" class="form-check-input " id="check3" style="cursor: pointer;">

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-2 border-bottom">
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>Date of Birth</b>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label" for="check3">Mandatory</label>
                                <input type="checkbox" class="form-check-input " id="check3" style="cursor: pointer;">

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-2 border-bottom">
                <div class="d-flex align-middle justify-content-between">
                    <div>
                        <b>Gender</b>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label" for="check3">Mandatory</label>
                                <input type="checkbox" class="form-check-input " id="check3" style="cursor: pointer;">

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h6 d-flex align-middle p-2">
                <ion-icon name="add-outline" style="height: 20px;width:20px;font-weight: bold;"></ion-icon>
                <b>Add a question</b>
            </div>
        </div>
    </div>



    <div class="card" style="width: 40%">

    <div class="card-body" style="padding:0">
      <h5 class="card-title"
        style="margin: 0;padding: 10px;background-color: #d0f8fa;border-top-right-radius: 5px;border-top-left-radius: 5px;">
        Profile</h5>
      <div class="container p-2 border-bottom">
        <div class="d-flex align-middle justify-content-between">
          <div>
            <b>Education</b>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label" for="check1">Mandatory</label>
                <input type="checkbox" class="form-check-input " id="check1" style="cursor: pointer;">

              </div>
            </div>
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="container p-2 border-bottom">
        <div class="d-flex align-middle justify-content-between">
          <div>
            <b>Experience</b>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label" for="check2">Mandatory</label>
                <input type="checkbox" class="form-check-input " id="check2" style="cursor: pointer;">

              </div>
            </div>
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="container p-2 border-bottom">
        <div class="d-flex align-middle justify-content-between">
          <div>
            <b>Resume</b>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label" for="check3">Mandatory</label>
                <input type="checkbox" class="form-check-input " id="check3" style="cursor: pointer;">
              </div>
            </div>
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Hide</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="h6 d-flex align-middle p-2">
        <ion-icon name="add-outline" style="height: 20px;width:20px;font-weight: bold;"></ion-icon>
        <b>Add a question</b>
      </div>
    </div>
        <div class="form-group row p-2">
            <div class="text-center">
                <button class="btn btn-primary">Save and Continue</button>

            </div>
        </div>
    </div>
 </div>
@code{
    private ProgramModel pro = new ProgramModel();
    //[Parameter]
    //public List<ProgramModel>? programs { get; set; }
    //FetchData fetch = new FetchData();
    private async Task AddRecord()
    {
        await proService.AddProgram(pro);
        NavManager.NavigateTo("applicationform");
        //proloyees = await proService.getP();
    }

}
